
    #WP {
        left: 4%;
    }
    
    .site-header {
        background-size: auto 100%;
    }
    
    #main {
        width: 100% !important;
    }
    
    #content {
        width: 100% !important;
    }
    
    
    .site-menu,
    .site-categories,
    .archive-menu {
        width: 96% !important;
    }
    
    .site-menu, .archive-menu {
        overflow: visible;
        height: auto;
    }
    
    .site-menu {
        background: #171717;
        border: 0;
    }
    
    .site-menu ul {
        height: 100%;
    }
    
    .site-menu li {
        display: inline-block;
        float: none;
        text-align: center;
        width: 100%;
    }
    
    .site-menu li.menu-item-search {
        float: none;
    }
    
    .site-menu li.menu-item-search input#s {
        position: relative;
        width: 195%;
    }
    
    .site-menu a {
        border: 0;
        border-radius: 4px;
        line-height: 3.0em;
        padding: 0;
        width: 100%;
    }
    
    .site-content .post {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 96% !important;
    }
    
    .entry-header-image {
        height: 100%;
        max-height: 15.250em;
    }
    
    .entry-header img.wp-post-image {
        height: auto;
        width: 100% !important;
    }
    
    .entry-meta {
        width: 100% !important;
    }
    
    #single .entry-author {
        padding: 0.938em 0.625em;
    }
    
    #single .entry-author .author-avatar img {
        height: 48px;
        width: 48px;
    }
    
    #single .entry-author .author-avatar {
        width: 3.500em;
    }
    
    #single .entry-author .author-description {
        width: 65%;
    }