
    #main {
        width: 72em !important;
    }
    .site-menu,
    .site-categories,
    .archive-menu {
        width: 98% !important;
    }
    
    #home .post,
    #archive .post {
        width: 34.750em !important;
    }
    
    .entry-header img.landscape {
        height: auto;
        width: 100%;
    }
